    @import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

    * {
        margin: 0px;
        padding: 0px;
    }

    .bg {
        background: url(https://4kwallpapers.com/images/wallpapers/hacker-binary-5120x2880-13679.jpg) center center/cover no-repeat;
        height: 100vh;
        width: 100vw;
        margin: 0px;
        opacity: 0.9;
        position: relative;
        /* z-index: -2; */
    }

    .bg-cover {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.858);
        z-index: -1;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        /* border:2px solid white; */
        height: 95%;
        width: 80vw;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .text {
        border: 2px solid rgba(255, 255, 255, 0.655);
        position: relative;
        height: 90vh;
        width: 40vw;
        border-radius: 10px;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;


    }

    #t-heading {
        /* border: 2px solid white; */
        color: rgb(139 246 12);
        /* position: absolute; */
        top: 0px;

        /* margin-top: 20px; */

        font-family: 'Butcherman', system-ui;
        font-size: xx-large;

    }

    span {
        font-size: larger;
        opacity: 0.7;
    }

    #t-target {
        color: white;
    }

    #userInputField {
        padding: 3px;
        margin: 2px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.288);
        color: white;
        opacity: 0.8;

        font-family: 'Anonymous Pro', monospace;
    }

    button {
        padding: 6px 10px 6px 10px;
        margin: 2px;
        border: 2px solid rgba(141, 246, 12, 0.75);
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.012);
        color: white;

        opacity: 0.7;
    }

    #run {
        padding: 6px 10px 6px 10px;
        margin: 15px;
    }

    button:hover {
        background-color: rgba(255, 255, 255, 0.304);
        cursor: pointer;
        /* color: black; */
    }

    #t-lines {
        /* border: 2px solid white; */
        color: white;
        margin-top: 10px;

        height: 60%;
        width: 86%;

        font-family: 'Anonymous Pro', monospace;
        font-size: medium;
        color: rgb(139 246 12);

    }

    .num-box {
        border: 2px solid rgba(255, 255, 255, 0.655);
        border-radius: 10px;
        /* position: absolute; */
        height: 90vh;
        width: 25vw;
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .num {
        /* border: 2px solid rgba(255, 255, 255, 0.655); */
        border-radius: 10px;
        /* position: absolute; */
        height: 55vh;
        width: 20vw;
        color: white;

        display: flex;
        flex-wrap: wrap;
    }

    img {
        height: 60vh;
        width: 20vw;
        position: absolute;

    }

    .loading {
        /* border: 2px solid rgba(255, 255, 255, 0.655); */
        border-radius: 10px;
        /* position: absolute; */
        height: 20vh;
        width: 20vw;
        color: white;

        display: flex;
        flex-wrap: wrap;

        margin-bottom: 10px;
    }

    video {
        height: 25vh;
        width: 30vw;
    }